h1,
p {
  margin: 0;
}

body {
  font-family: Helvetica, sans-serif;
  font-weight: 700;
  background-color: #F6F6EC;
}

.container {
  width: 30vw;
  margin: 10vh auto;
}

.headline {
  margin-bottom: 2vh;
  font-size: 2.2em;
}

.accordion {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.accordion-item {
  padding: 2vh 0;
  border-top: 2px solid rgba(211, 211, 211, 0.8);
}

.mem-label {
  cursor: pointer;
}

.accordion-text {
  margin-bottom: 2vh;
  font-size: 1.25em;
  color: #0055D8;
}

.accordion-icon {
  display: inline-block;
  width: 2vw;
  height: 2vh;
  background-image: url(./assets/arrow.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.accordion-img {
  max-height: 0vh;
  overflow: hidden;
  transition: 0.8s;
}

.accordion-item:hover .accordion-img {
  max-height: 35vh;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked ~ .mem-label .accordion-img {
  max-height: 35vh;
  transition: 0.8s;
}

input[type="radio"]:checked ~ .mem-label .accordion-text > .accordion-icon {
  transform: rotate(180deg);
  transition: 0.8s;
}

input[type="radio"]:checked ~ .mem-label .accordion-text {
  color: #000000;
  transition: 0.5s;
}